.head {
  color: #696F79;
  height: 50px;
  font-size: 33px;
}

.head2 {
  color: #696F79;
  width: 306px;
  height: 30px;
  font-size: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex2 {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

.border {
  border: 20px solid #FFFFFF;
}

.undhead {
  width: 200px;
  height: 35px;
  font-size: 23px;
}

.pictur {
  width: 503px;
  height: 296px;
}

.underpic {
  color: #696F79;
  width: 140px;
  height: 35px;
  font-size: 23px;
}

.stext {
  color: #696F79;
  width: 1032px;
  height: 194px;
  font-size: 17px;
}

.forbaton {
  float: right;
}